# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# TypeScript
dist/
build/
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs/
*.log
pids/
*.pid
*.seed

# OS específicos
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Optional: coverage
coverage/